*{
    font-family: 'Chilanka', cursive;
}

h1{
    padding: 10px;
    margin: 20 0 10 0;
    text-align: center;
}

nav navbar-nav #navbarmenu{
    align-content: center;
    text-align: center;
}

.container-fluid #block{
    height: auto;
    width: 100%;
    background-color: lightgray;
}

#nav{
    color: black;
    background-color:whitesmoke;
}



.navbar-default .navbar-brand {
    color: black;
}
.navbar-default .navbar-nav{
    color: black;
}
.nav>li>a {
    text-align: center;
}

